.container {
    max-width: 1500px;
    margin: 0 auto;
}

section.module:last-child {
    margin-bottom: 0;
}

section.module h2 {
    margin-bottom: 40px;
    font-family: "Josefin Sans";
}

section.module.dev {
    margin-bottom: 40px;
}

section.module.content {
    margin-bottom: 40px;
}

body {
    background-color: #2F4F4F;
    margin: 0;
}

section.module.parallax {
    height: 250px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 2%;
    /*border: 1px solid blue;*/
}

section.module.parallax1 {
    background-image: url("../img/pgh.jpg");
    background-size: 100%;
}

section.module.parallax2 {
    background-image: url("../img/unsplash4.jpg");
    background-size: 100%;
}

h1 {
    margin: 0;
}

#thejqs hr {
    width: 65%;
}

h2 {
    margin: auto;
    display: inline-block;
}

span {
    color: #A0522D;
}

#thejqs {
    padding-top: 10%;
    font-size: 200%;
    font-family: "Josefin Sans";
    text-align: center;
    margin: auto;
    width: 65%;
    color: #ffffff;
    /*border-bottom: 1px solid #ffffff;*/
}

.thejqs-link {
    text-decoration: none;
    color: #ffffff;
}

.thejqs-choice {
    color: black;
    font-family: "Josefin Sans";
    text-align: center;
    font-size: 125%;
    width: 35%;
    margin: auto;
    margin-top: 2%;
}

.thejqs-choice-about {
    color: black;
    font-family: "Josefin Sans";
    text-align: center;
    font-size: 125%;
    width: 35%;
    margin: auto;
}

.thejqs-words {
    color: #ffffff;
    text-align: center;
    width: 75%;
    font-family: "Josefin Sans";
    font-size: 150%;
    margin: auto;
    margin-top: 7%;
}

.about-words {
    color: #ffffff;
    text-align: left;
    width: 75%;
    font-family: "Josefin Sans";
    font-size: 150%;
    margin: auto;
    margin-top: 2%;
}

.page-id {
    color: #A0522D;
    width: 20%;
    text-align: center;
    padding-top: 1%;
    font-size: 200%;
    font-family: "Josefin Sans", sans-serif;
    margin-left: 40%;
    margin-bottom: 2%;
}

.dev {
    margin-left: 5%;
}

.portfolio-image {
    width: 15%;
    display: inline-block;
    margin-left: 0;
    margin-right: 2%;
    /*for media query: margin-top: 2%;*/
    border: 1px solid #ffffff;
}

.me {
    height: 300px;
    display: block;
    margin: auto;
    margin-top: 1%;
    border: 1px solid white;
}

.thejqs-front {
    margin-top: 10%;
}

.portfolio-header {
    font-family: "Josefin Sans", sans-serif;
    font-size: 350%;
    text-align: right;
    color: #A0522D;
    margin-top: 5%;
    text-shadow:
    -1px -1px 0 #2F4F4F,
    1px -1px 0 #2F4F4F,
    -1px 1px 0 #2F4F4F,
    1px 1px 0 #2F4F4F;
    /*margin-bottom: 1%;*/
}

ul {
    padding-left: 0;
}

ul li {
    list-style-type: none; 
    list-style-position: inside;
    display: inline;
}

ul p {
    display: inline;
}

.initials {
    width: 20%;
    display: block;
    margin: auto;
}

.dev {
    margin-bottom: 7%;
}

.writing {
    padding-bottom: 2%;
}

.writing-details {
    font-family: "Josefin Sans", sans-serif;
    font-size: 125%;
    color: #ffffff;
    line-height: 105%;
    margin-left: 5%;
}

.writing-story {
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    color: #A0522D;
    line-height: 105%;
}

