body {
    background-color: #2F4F4F;
    margin: 0;
}



h1 {
    margin: 0;
}

#thejqs hr {
    width: 65%;
}

h2 {
    margin: auto;
    display: inline-block;
}

h3 {
    color: #F5F5F5;
    font-family: "Josefin Sans";
    font-size: 150%;
    margin-bottom: 2%;
    text-align: right;
    width: 98%;
}

span {
    color: #A0522D;
}

#thejqs {
    padding-top: 10%;
    font-size: 200%;
    font-family: "Josefin Sans";
    text-align: center;
    margin: auto;
    width: 65%;
    color: #F5F5F5;
}

.thejqs-link {
    text-decoration: none;
    color: #F5F5F5;
}

.thejqs-choice {
    color: black;
    font-family: "Josefin Sans";
    text-align: center;
    font-size: 125%;
    width: 35%;
    margin: auto;
    margin-top: 2%;
}

.thejqs-words {
    color: #F5F5F5;
    text-align: center;
    width: 75%;
    font-family: "Josefin Sans";
    font-size: 150%;
    margin: auto;
    margin-top: 7%;
}

.page-id {
    color: #A0522D;
    width: 20%;
    text-align: center;
    padding-top: 1%;
    font-size: 200%;
    font-family: "Josefin Sans", sans-serif;
    margin-left: 40%;
    margin-bottom: 2%;
}


.thejqs-front {
    margin-top: 10%;
}


.initials {
    width: 20%;
    display: block;
    margin: auto;
    padding-top: 2%;
}




