{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <header>
            <a href="{% url 'thejqs' %}"><img class="header-initials" src="{% static 'img/initials.png' %}" alt=""></a>

        <div class="site-id">
            <a href="{% url 'thejqs' %}">Jacob Quinn Sanders.</a>
        </div>
        <div class="nav">
            <p><a href="{% url 'thejqs' %}">thejqs.</a></p>
        </div>

        <div class="nav">
            <p><a href="{% url 'portfolio' %}">portfolio</a></p>
        </div>

    </header>

    <div class="page-id-about">
        about
    </div>

        <div class="thejqs-choice-about">
            <p><a class="thejqs-link" href="mailto:j.q.sanders@gmail.com">send email</a> <span class="fa fa-angle-double-right"></span> <a class="thejqs-link" href="http://github.com/thejqs" target="_blank">github</a> <span class="fa fa-angle-double-right"></span> <a class="thejqs-link" href="https://www.linkedin.com/in/thejqs" target="_blank">linkedin</a></p>
        </div>

    <div class="wrapper">

        <div class="about-words">
            <p>Californian by birth. Oregonian by upbringing. Pennsylvanian by choice. Lover of absurdity, data, language, good food and drink, baseball -- sometimes all together.</p>

            <p>Jacob Quinn Sanders has always been in the business of helping tell stories. First that meant reporting and writing. Then editing and strategy of varying sorts -- user research, workflows, conceiving functionality -- usually against a tight deadline.</p>

            <p>Now that means coding. Python and Django along with some JavaScript and jQuery, HTML and CSS. They're simply different tools to a similar end. Programming has a lot in common with putting together complex articles and products where accuracy matters. Where readability matters. Where impact and user experience matter.</p>

            <p>With new skills it's time to focus on new projects. Onward we go.</p>
        </div>

        <div>
            <img class="me" src="{% static 'img/jqs_venice.png' %}" alt="">
        </div>

    </div>
    
{% endblock %}