
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Jacob Quinn Sanders. | web developer</title>
        <link rel="shortcut icon" href="{% static 'img/initials.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'img/initials.ico' %}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A junior developer's projects in Python and Django. Learning as we go.">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@thejqs">
        <meta name="twitter:title" content="Portfolio: Jacob Quinn Sanders.">
        <meta name="twitter:description" content="A junior web developer's projects in Python.">
        <meta name="twitter:image" content="{% static 'img/jqs_venice.png' %}">
        <meta property="og:url" content="http://thejqs.com/">
        <meta property="og:site_name" content="Jacob Quinn Sanders.">
        <meta property="article:author" content="https://www.facebook.com/thejqs">
        <meta property="og:title" content="Portfolio: Jacob Quinn Sanders.">
        <meta property="og:description" content="Jacob Quinn Sanders has always been in the business of helping tell stories. First that meant reporting and writing. Then editing and strategy, whether user research, workflows, conceiving functionality or strategy -- usually against a tight deadline. Now that means coding. Python and Django along with some JavaScript and jQuery, HTML and CSS. They're simply different tools to a similar end. Coding has a lot in common with putting together complex articles and products where accuracy matters. Where readability matters. Where impact and user experience matter. With new skills it's time to focus on new projects. On to the next thing.">
        <meta property="og:image" content="{% static 'img/jqs_venice.png' %}">

        <link rel="stylesheet" href="{% static 'css/thejqs.css' %}" type="text/css">

        {% block head %}
        {% endblock %}

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald|Merriweather:400,700|Arvo:400,700|Rokkitt|Cabin+Sketch|Bitter|Sanchez|Amatic+SC|Slabo+27px|Raleway|Josefin+Sans">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
        {# {% include 'top.html' %} #}



        {% block content %}
        {% endblock %}
        <script src="{% static 'js/thejqs.js' %}"></script>
    </body>
</html>