{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="page-id">
        portfolio
    </div>
    <div>
    <a href="http://github.com/thejqs/recipes" target="_blank"><img class="portfolio-image" src="{% static 'img/recipe_scaler.png' %}" alt=""></a>
    <a href="http://arthur.thejqs.com" target="_blank"><img class="portfolio-image" src="{% static 'img/arthur_film.png' %}" alt=""></a>
    <a href="http://github.com/mosbasik/moviepicker" target="_blank"><img class="portfolio-image" src="{% static 'img/moviepicker.png' %}" alt=""></a>

    </div>
{% endblock %}