{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <div id="top"></div>


    <header>
        <a href="{% url 'thejqs' %}"><img class="header-initials" src="{% static 'img/initials.png' %}" alt=""></a>

        <div class="site-id">
            <a href="{% url 'thejqs' %}">Jacob Quinn Sanders.</a>
        </div>
        <div class="nav">
            <p><a href="{% url 'thejqs' %}">thejqs.</a></p>
        </div>

        <div class="nav">
            <p><a href="{% url 'about' %}">about</a></p>
        </div>

    </header>

    <div class="page-id">
        portfolio
    </div>

    <section class="module parallax parallax1">
    <div class="container">
    <h2 class="portfolio-header">development</h2>
    </div>

    <div class="arrow">
        <p><a href="#dev-anchor"><span class="fa fa-arrow-circle-down fa-3x"></span></a></p>
    </div>
    <div id="dev-anchor"></div>
    </section>

    <section class="module content">

    <div class="container dev">
    
    <div id="arthur" class="dev-work">
    <h3>Arthur.</h3><a href="http://arthur.thejqs.com" target="_blank"><img class="portfolio-image" src="{% static 'img/arthur_film1.jpg' %}" alt=""></a>
    <p class="pointer"><a href="http://github.com/thejqs/doe" target="_blank">repo</a> <span class="fa fa-angle-double-right"></span> <a href="http://arthur.thejqs.com" target="_blank">site</a></p>
    </div>

    <div id="recipes" class="dev-work">
    <h3>Recipe scaler</h3><a href="http://recipe.ryanmerrill.me/" target="_blank"><img class="portfolio-image" src="{% static 'img/recipe_details.png' %}" alt=""></a>
    <p class="pointer"><a href="http://github.com/thejqs/recipes" target="_blank">repo</a> <span class="fa fa-angle-double-right"></span> <a href="http://recipe.ryanmerrill.me/" target="_blank">site</a></p>
    </div>
    
    <div id="izzard" class="dev-work">
    <h3>botmaker</h3><a href="http://github.com/thejqs/botmaker" target="_blank"><img class="portfolio-image" src="{% static 'img/bots.jpg' %}" alt=""></a>
    <p class="pointer"><a href="http://twitter.com/BotOrDeath" target="_blank">@BotOrDeath</a> <span class="fa fa-angle-double-right"></span> <a href="http://twitter.com/CmonSister" target="_blank">@CmonSister</a></p>
    </div>
    
    <div id="moviepicker" class="dev-work">
    <h3>moviepicker</h3><a href="http://moviepicker.peterhenry.net" target="_blank"><img class="portfolio-image" src="{% static 'img/moviepicker.png' %}" alt=""></a>
    <p class="pointer"><a href="http://github.com/mosbasik/moviepicker" target="_blank">repo</a> <span class="fa fa-angle-double-right"></span> <a href="http://moviepicker.peterhenry.net" target="_blank">site</a></p>
    </div>
        <div class="arrow">
        <p><a href="#writing-anchor"><span class="fa fa-arrow-circle-down fa-3x"></span></a></p>
    </div>
    </div>
    </section>

    <section class="module parallax parallax2">
    <div class="container">
    <h2 id="writing" class="portfolio-header">writing</h2>
    </div>

    </section>

    <div class="module content">
    <div class="container writing">

    <ul class="writing-details"><p>Food and drink
        <li><a class="writing-story" href="http://www.post-gazette.com/food/2011/02/24/In-Pittsburgh-s-Little-Italy-two-stalwart-grocery-markets-survive/stories/201102240252" target="_blank">Bloomfield's Italian grocerias</a></li>
        <span class="fa fa-asterisk"></span>
        <li><a class="writing-story" href="http://www.post-gazette.com/life/libations/2015/03/04/A-Croatia-to-Pittsburgh-wine-odyssey-How-an-obscure-bottle-gets-in-the-PLCB-system/stories/201503040013" target="_blank">The only bottle in Pennsylvania</a></li>
        <span class="fa fa-asterisk"></span>
        <li><a class="writing-story" href="http://www.post-gazette.com/life/libations/2015/02/12/Cocktails-for-Valentine-s-Day/stories/201502120060" target="_blank">Valentine's Day cocktails -- with music pairings</a></li></p>
    </ul>

    <ul class="writing-details"><p>Law enforcement
        <li><a class="writing-story" href="https://thejqs.wordpress.com/arkansas-stories/melvin-tyrone-young/" target="_blank">Melvin Tyrone Young</a></li>
        <span class="fa fa-asterisk"></span>
        <li><a class="writing-story" href="https://thejqs.wordpress.com/arkansas-stories/tasers/" target="_blank">Tasers</a></li>
        <span class="fa fa-asterisk"></span>
        <li><a class="writing-story" href="https://thejqs.wordpress.com/arkansas-stories/baring-cross/" target="_blank">Baring Cross</a></li>
        <span class="fa fa-asterisk"></span>
        <li><a class="writing-story" href="https://thejqs.wordpress.com/arkansas-stories/b-t/" target="_blank">B.T. Carmical</a></li>
        <span class="fa fa-asterisk"></span>
        <li><a class="writing-story" href="https://thejqs.wordpress.com/arkansas-stories/jacksonville/" target="_blank">Jacksonville</a></li>
        <span class="fa fa-asterisk"></span>
        <li><a class="writing-story" href="https://thejqs.wordpress.com/oregon-stories/fatal-silence/" target="_blank">Fatal silence</a></li></p>
    </ul>

    <ul class="writing-details"><p>History and personal
        <li><a class="writing-story" href="http://newsinteractive.post-gazette.com/thedigs/2015/04/15/east-liberty-pittsburgh-pothole/" target="_blank">The pothole that swallowed Christine Contillo</a></li>
        <span class="fa fa-asterisk"></span>
        <li><a class="writing-story" href="http://newsinteractive.post-gazette.com/thedigs/2015/04/29/chiodos-tavern-in-homestead-home-to-everybody/" target="_blank">Chiodo's Tavern, Homestead</a></li>
        <span class="fa fa-asterisk"></span>
        <li><a class="writing-story" href="https://georgerede.wordpress.com/2014/08/17/almost-the-bad-guy/" target="_blank">Almost the bad guy</a></li>
        <span class="fa fa-asterisk"></span>
        <li><a class="writing-story" href="https://georgerede.wordpress.com/2015/08/17/too-much-white/" target="_blank">Too much white</a></li></p>
    </ul>
    </div>
    </div>
        <div id="writing-anchor"></div>

    <div class="arrow">
        <a href="#top"><span class="fa fa-arrow-circle-up fa-3x"></span></a>
    </div>
{% endblock %}