{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="page-id">
        portfolio
    </div>
    <div class="container">

    <h3 class="portfolio-header">development</h3>

    <div class="dev">
    <a href="http://arthur.thejqs.com" target="_blank"><img class="portfolio-image" src="{% static 'img/arthur_film.png' %}" alt=""></a>
    <a href="http://github.com/thejqs/recipes" target="_blank"><img class="portfolio-image" src="{% static 'img/recipe_scaler.png' %}" alt=""></a>
    <a href="https://twitter.com/BotOrDeath" target="_blank"><img class="portfolio-image" src="{% static 'img/BotOrDeath.png' %}" alt=""></a>
    <a href="http://github.com/mosbasik/moviepicker" target="_blank"><img class="portfolio-image" src="{% static 'img/moviepicker.png' %}" alt=""></a>
    </div>


    <h3 class="portfolio-header">writing</h3>
    <div class="writing">

    <ul class="writing-details">Food and drink
        <li><a class="writing-story" href="http://www.post-gazette.com/food/2011/02/24/In-Pittsburgh-s-Little-Italy-two-stalwart-grocery-markets-survive/stories/201102240252">Bloomfield's Italian grocerias</a></li>
        <span class="fa fa-asterisk"></span>
        <li><a class="writing-story" href="http://www.post-gazette.com/life/libations/2015/03/04/A-Croatia-to-Pittsburgh-wine-odyssey-How-an-obscure-bottle-gets-in-the-PLCB-system/stories/201503040013">The only bottle in Pennsylvania</a></li>
        <span class="fa fa-asterisk"></span>
        <li><a class="writing-story" href="http://www.post-gazette.com/life/libations/2015/02/12/Cocktails-for-Valentine-s-Day/stories/201502120060">Valentine's Day cocktails -- with music pairings</a></li>
    </ul>


    <ul class="writing-details">Law enforcement
        <li><a class="writing-story" href="https://jqsworks.wordpress.com/arkansas-stories/melvin-tyrone-young/">Melvin Tyrone Young</a></li>
        <span class="fa fa-asterisk"></span>
        <li><a class="writing-story" href="https://jqsworks.wordpress.com/arkansas-stories/tasers/">Tasers</a></li>
        <span class="fa fa-asterisk"></span>
        <li><a class="writing-story" href="https://jqsworks.wordpress.com/arkansas-stories/baring-cross/">Baring Cross</a></li>
        <span class="fa fa-asterisk"></span>
        <li><a class="writing-story" href="https://jqsworks.wordpress.com/arkansas-stories/b-t/">B.T. Carmical</a></li>
        <span class="fa fa-asterisk"></span>
        <li><a class="writing-story" href="https://jqsworks.wordpress.com/arkansas-stories/jacksonville/">Jacksonville</a></li>
        <span class="fa fa-asterisk"></span>
        <li><a class="writing-story" href="https://jqsworks.wordpress.com/oregon-stories/fatal-silence/">Fatal silence</a></li>
    </ul>



    <ul class="writing-details">History and personal
        <li><a class="writing-story" href="http://newsinteractive.post-gazette.com/thedigs/2015/04/15/east-liberty-pittsburgh-pothole/">The pothole that swallowed Christine Contillo</a></li>
        <span class="fa fa-asterisk"></span>
        <li><a class="writing-story" href="http://newsinteractive.post-gazette.com/thedigs/2015/04/29/chiodos-tavern-in-homestead-home-to-everybody/">Chiodo's Tavern, Homestead</a></li>
        <span class="fa fa-asterisk"></span>
        <li><a class="writing-story" href="https://georgerede.wordpress.com/2014/08/17/almost-the-bad-guy/">Almost the bad guy</a></li>
        <span class="fa fa-asterisk"></span>
        <li><a class="writing-story" href="https://georgerede.wordpress.com/2015/08/17/too-much-white/">Too much white</a></li>
    </ul>
    </div>

    </div>
{% endblock %}