{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div id="thejqs">
        <h1><span><a class="thejqs-link" href="{% url 'thejqs' %}">Jacob Quinn Sanders</a>.</span></h1>
        <hr>
        <p class="subhead">words <span class="ampersand">&</span> code</p>
    </div>

    <div class="thejqs-choice">
        <p><a class="thejqs-link" href="{% url 'portfolio' %}">portfolio</a> <span class="fa fa-angle-double-right"></span> <a class="thejqs-link" href="{% url 'about' %}">about</a> <span class="fa fa-angle-double-right"></span> <a class="thejqs-link" href="{% static 'img/JQSresumeSept2015.pdf' %}" target="_blank">r&eacute;sum&eacute;</a></p>
    </div>

    <img class="initials" src="{% static 'img/initials.png' %}" alt="">

{% endblock %}