{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="thejqs-choice">
        <p><a class="thejqs-link" href="../portfolio">portfolio</a> <span class="fa fa-angle-double-right"></span> <a class="thejqs-link" href="../about">about</a> <span class="fa fa-angle-double-right"></span> <a class="thejqs-link" href="{% static 'img/JQSresumeSept2015.pdf' %}" target="_blank">r&eacute;sum&eacute;</a></p>
    </div>
    <div class="thejqs-words">
        <p class="thejqs-front">Um. Hi. I make internets. Badly.</p>
    </div>
{% endblock %}